### Chapter 3: PySpark DataFrames - 2
1. Dropping columns
2. Dropping Rows -- df.na.drop(how=any or all) .drop(thres=n)
3. Various parameter in Dropping Functionalities
4. Handling Missing values by Mean, Median and Mode -- Imputer function

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DataFrames2').getOrCreate()

In [4]:
df1=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [5]:
df1.show()

+-------+----+----+-----+
|   Name| Age| Exp|Power|
+-------+----+----+-----+
|  Sahil|  24|   3|  100|
|  Singh|  22|   1|   80|
|    Eka|  19|   0|  170|
| Naruto|  32|  11|  230|
| Sasuke|  32|  11|  225|
|kakashi|  43|  22|  190|
| Jiraya|null|null|  200|
|   null|  34|  10|   90|
|   null|  36|null| null|
+-------+----+----+-----+

In [6]:
##Dropping the column
df1_drop = df1.drop('Age')

In [7]:
df1_drop.show()

+-------+----+-----+
|   Name| Exp|Power|
+-------+----+-----+
|  Sahil|   3|  100|
|  Singh|   1|   80|
|    Eka|   0|  170|
| Naruto|  11|  230|
| Sasuke|  11|  225|
|kakashi|  22|  190|
| Jiraya|null|  200|
|   null|  10|   90|
|   null|null| null|
+-------+----+-----+

In [9]:
##Let's try dropping mulitple columns
df1_dropMul = df1.drop('Age','Power')

In [10]:
df1_dropMul.show()

+-------+----+
|   Name| Exp|
+-------+----+
|  Sahil|   3|
|  Singh|   1|
|    Eka|   0|
| Naruto|  11|
| Sasuke|  11|
|kakashi|  22|
| Jiraya|null|
|   null|  10|
|   null|null|
+-------+----+

In [12]:
### Deleting missing values
# DataFrame.na -- returns a DataFrame after removing all the rows having NaN or null values
# Functionality for working with missing data in DataFrame.
df1_na = df1.na.drop()

In [13]:
df1_na.show()

+-------+---+---+-----+
|   Name|Age|Exp|Power|
+-------+---+---+-----+
|  Sahil| 24|  3|  100|
|  Singh| 22|  1|   80|
|    Eka| 19|  0|  170|
| Naruto| 32| 11|  230|
| Sasuke| 32| 11|  225|
|kakashi| 43| 22|  190|
+-------+---+---+-----+

In [29]:
### DataFrame.na.drop() Options
#how Option
'''
how='any' OR 'all'
if how==any, all the rows having null entries(1 or more) will be deleted/dropped
if how==all, then only those rows will be deleted whose all entries are null
** By default how=any
'''
df1.na.drop(how='any').show()

+-------+---+---+-----+
|   Name|Age|Exp|Power|
+-------+---+---+-----+
|  Sahil| 24|  3|  100|
|  Singh| 22|  1|   80|
|    Eka| 19|  0|  170|
| Naruto| 32| 11|  230|
| Sasuke| 32| 11|  225|
|kakashi| 43| 22|  190|
+-------+---+---+-----+

In [23]:
### how == all
'''
Here, only one row will be deleted as it has all entries==null
'''
df1.show()
df1.na.drop(how='all').show()

+-------+----+----+-----+
|   Name| Age| Exp|Power|
+-------+----+----+-----+
|  Sahil|  24|   3|  100|
|  Singh|  22|   1|   80|
|    Eka|  19|   0|  170|
| Naruto|  32|  11|  230|
| Sasuke|  32|  11|  225|
|kakashi|  43|  22|  190|
| Jiraya|null|null|  200|
|   null|null|null| null|
|   null|  34|  10|   90|
|   null|  36|null| null|
+-------+----+----+-----+

+-------+----+----+-----+
|   Name| Age| Exp|Power|
+-------+----+----+-----+
|  Sahil|  24|   3|  100|
|  Singh|  22|   1|   80|
|    Eka|  19|   0|  170|
| Naruto|  32|  11|  230|
| Sasuke|  32|  11|  225|
|kakashi|  43|  22|  190|
| Jiraya|null|null|  200|
|   null|  34|  10|   90|
|   null|  36|null| null|
+-------+----+----+-----+

In [26]:
df1.show()

+-------+----+----+-----+
|   Name| Age| Exp|Power|
+-------+----+----+-----+
|  Sahil|  24|   3|  100|
|  Singh|  22|   1|   80|
|    Eka|  19|   0|  170|
| Naruto|  32|  11|  230|
| Sasuke|  32|  11|  225|
|kakashi|  43|  22|  190|
| Jiraya|null|null|  200|
|   null|null|null| null|
|   null|  34|  10|   90|
|   null|  36|null| null|
+-------+----+----+-----+

In [28]:
###threshold Options
# DataFrame.na.drop(thres=)
df1.na.drop(thresh=2).show()
'''
** thres Option specifies the number of non-null values that should be present in a row
therefore, .drop(thres=2) will drop all the rows who doesn't have atleast 2 non-null values
'''

+-------+----+----+-----+
|   Name| Age| Exp|Power|
+-------+----+----+-----+
|  Sahil|  24|   3|  100|
|  Singh|  22|   1|   80|
|    Eka|  19|   0|  170|
| Naruto|  32|  11|  230|
| Sasuke|  32|  11|  225|
|kakashi|  43|  22|  190|
|Jiraiya|null|null|  200|
|   null|  34|  10|   90|
+-------+----+----+-----+

"\n** thres Option specifies the number of non-null values that should be present in a row\ntherefore, .drop(thres=2) will drop all the rows who doesn't have atleast 2 non-null values\n"

In [31]:
df1.show()

+-------+----+----+-----+
|   Name| Age| Exp|Power|
+-------+----+----+-----+
|  Sahil|  24|   3|  100|
|  Singh|  22|   1|   80|
|    Eka|  19|   0|  170|
| Naruto|  32|  11|  230|
| Sasuke|  32|  11|  225|
|kakashi|  43|  22|  190|
|Jiraiya|null|null|  200|
|   null|null|null| null|
|   null|  34|  10|   90|
|   null|  36|null| null|
+-------+----+----+-----+

In [36]:
df1 = spark.read.csv('test3.csv',header=True,inferSchema=True)
df1.show()

+-------+----+----+-----+
|   Name| Age| Exp|Power|
+-------+----+----+-----+
|  Sahil|  24|   3|  100|
|  Singh|  22|   1|   80|
|    Eka|  19|   0|  170|
| Naruto|  32|  11|  230|
| Sasuke|  32|  11|  225|
|kakashi|  43|  22|  190|
|Jiraiya|null|null|  200|
|   null|null|null| null|
|   null|  34|  10|   90|
|   null|  36|null| null|
| Sakura|  32|null| null|
+-------+----+----+-----+

In [38]:
df1.na.drop(thresh=3).show()
'''
Dropped all the rows who doesn't have atleast 3 non-null values
'''

+-------+---+---+-----+
|   Name|Age|Exp|Power|
+-------+---+---+-----+
|  Sahil| 24|  3|  100|
|  Singh| 22|  1|   80|
|    Eka| 19|  0|  170|
| Naruto| 32| 11|  230|
| Sasuke| 32| 11|  225|
|kakashi| 43| 22|  190|
|   null| 34| 10|   90|
+-------+---+---+-----+

"\nDropped all the rows who doesn't have atleast 3 non-null values\n"

In [9]:
## Checking for null values and dropping specific columns
#DataFrame.na.drop(subset=[])
df1.na.drop(subset=['Power','Name']).show()

+-------+----+----+-----+
|   Name| Age| Exp|Power|
+-------+----+----+-----+
|  Sahil|  24|   3|  100|
|  Singh|  22|   1|   80|
|    Eka|  19|   0|  170|
| Naruto|  32|  11|  230|
| Sasuke|  32|  11|  225|
|kakashi|  43|  22|  190|
|Jiraiya|null|null|  200|
+-------+----+----+-----+

In [11]:
## Filling the missing Values
'''
DataFrame.na.fill('yourValue') -- this method will fill the 'yourValue' in place of null values in the table
**Note: This works on string values only
'''
df1.na.fill('Empty').show()
'''
 Notice that only the string dtypes values are set to 'Empty' and not the Integers
'''

+-------+----+----+-----+
|   Name| Age| Exp|Power|
+-------+----+----+-----+
|  Sahil|  24|   3|  100|
|  Singh|  22|   1|   80|
|    Eka|  19|   0|  170|
| Naruto|  32|  11|  230|
| Sasuke|  32|  11|  225|
|kakashi|  43|  22|  190|
|Jiraiya|null|null|  200|
|  Empty|null|null| null|
|  Empty|  34|  10|   90|
|  Empty|  36|null| null|
| Sakura|  32|null| null|
+-------+----+----+-----+

"\nNotice only the string dtypes values are set to 'Empty' and not the Integers\n"

In [13]:
df2=spark.read.csv('test3.csv',header=True)
df2.dtypes

[('Name', 'string'), ('Age', 'string'), ('Exp', 'string'), ('Power', 'string')]

In [15]:
### Now lets try the .fill() method

df2.na.fill('Empty').show()
'''
 Here all the null values will be set to 'Empty' as everything is String here.
'''

+-------+-----+-----+-----+
|   Name|  Age|  Exp|Power|
+-------+-----+-----+-----+
|  Sahil|   24|    3|  100|
|  Singh|   22|    1|   80|
|    Eka|   19|    0|  170|
| Naruto|   32|   11|  230|
| Sasuke|   32|   11|  225|
|kakashi|   43|   22|  190|
|Jiraiya|Empty|Empty|  200|
|  Empty|Empty|Empty|Empty|
|  Empty|   34|   10|   90|
|  Empty|   36|Empty|Empty|
| Sakura|   32|Empty|Empty|
+-------+-----+-----+-----+

"\n Here all the null values will be set to 'Empty' as everything is String here.\n"

In [18]:
### Lets fill only some columns
df2.na.fill('blahh',subset=['Name','Exp']).show()

+-------+----+-----+-----+
|   Name| Age|  Exp|Power|
+-------+----+-----+-----+
|  Sahil|  24|    3|  100|
|  Singh|  22|    1|   80|
|    Eka|  19|    0|  170|
| Naruto|  32|   11|  230|
| Sasuke|  32|   11|  225|
|kakashi|  43|   22|  190|
|Jiraiya|null|blahh|  200|
|  blahh|null|blahh| null|
|  blahh|  34|   10|   90|
|  blahh|  36|blahh| null|
| Sakura|  32|blahh| null|
+-------+----+-----+-----+

In [33]:
### The Imputer #####
# filling Mean values

from pyspark.ml.feature import Imputer

imputer=Imputer(
    inputCols=['Age','Exp','Power'],
    outputCols=[f"{c}_imputed" for c in ['Age','Exp','Power']]
).setStrategy("mean")

In [34]:
imputer.fit(df1).transform(df1).show()

+-------+----+----+-----+-----------+-----------+-------------+
|   Name| Age| Exp|Power|Age_imputed|Exp_imputed|Power_imputed|
+-------+----+----+-----+-----------+-----------+-------------+
|  Sahil|  24|   3|  100|         24|          3|          100|
|  Singh|  22|   1|   80|         22|          1|           80|
|    Eka|  19|   0|  170|         19|          0|          170|
| Naruto|  32|  11|  230|         32|         11|          230|
| Sasuke|  32|  11|  225|         32|         11|          225|
|kakashi|  43|  22|  190|         43|         22|          190|
|Jiraiya|null|null|  200|         30|          8|          200|
|   null|null|null| null|         30|          8|          160|
|   null|  34|  10|   90|         34|         10|           90|
|   null|  36|null| null|         36|          8|          160|
| Sakura|  32|null| null|         32|          8|          160|
+-------+----+----+-----+-----------+-----------+-------------+

In [35]:
##Imputer filling Mode values
from pyspark.ml.feature import Imputer
imputer2 = Imputer(
    inputCols=['Age','Exp','Power'],
    outputCols=[f"{col}_Mode" for col in ['Age','Exp','Power']]
).setStrategy('mode')

In [36]:
imputer2.fit(df1).transform(df1).show()

+-------+----+----+-----+--------+--------+----------+
|   Name| Age| Exp|Power|Age_Mode|Exp_Mode|Power_Mode|
+-------+----+----+-----+--------+--------+----------+
|  Sahil|  24|   3|  100|      24|       3|       100|
|  Singh|  22|   1|   80|      22|       1|        80|
|    Eka|  19|   0|  170|      19|       0|       170|
| Naruto|  32|  11|  230|      32|      11|       230|
| Sasuke|  32|  11|  225|      32|      11|       225|
|kakashi|  43|  22|  190|      43|      22|       190|
|Jiraiya|null|null|  200|      32|      11|       200|
|   null|null|null| null|      32|      11|        80|
|   null|  34|  10|   90|      34|      10|        90|
|   null|  36|null| null|      36|      11|        80|
| Sakura|  32|null| null|      32|      11|        80|
+-------+----+----+-----+--------+--------+----------+

In [37]:
### Filling Median values in place of null ###

from pyspark.ml.feature import Imputer
imputer3=Imputer(
    inputCols=['Age','Exp','Power'],
    outputCols=[f"{col}_Median" for col in ['Age','Exp','Power']]
).setStrategy('median')

imputer3.fit(df1).transform(df1).show()

+-------+----+----+-----+----------+----------+------------+
|   Name| Age| Exp|Power|Age_Median|Exp_Median|Power_Median|
+-------+----+----+-----+----------+----------+------------+
|  Sahil|  24|   3|  100|        24|         3|         100|
|  Singh|  22|   1|   80|        22|         1|          80|
|    Eka|  19|   0|  170|        19|         0|         170|
| Naruto|  32|  11|  230|        32|        11|         230|
| Sasuke|  32|  11|  225|        32|        11|         225|
|kakashi|  43|  22|  190|        43|        22|         190|
|Jiraiya|null|null|  200|        32|        10|         200|
|   null|null|null| null|        32|        10|         170|
|   null|  34|  10|   90|        34|        10|          90|
|   null|  36|null| null|        36|        10|         170|
| Sakura|  32|null| null|        32|        10|         170|
+-------+----+----+-----+----------+----------+------------+