### Chapter 1: Introduction

In [1]:
import pandas as pd
pd.read_csv('test2.csv')

    Name  Age  Exp
0  Sahil   24    3
1  Singh   22    1
2    Eka   19    0

In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [4]:
spark

In [5]:
df_pyspark = spark.read.csv('test1.csv')

In [6]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [7]:
df2_pyspark = spark.read.option('header','true').csv('test1.csv')

In [8]:
df2_pyspark

DataFrame[Name: string, Age: string]

In [9]:
df2_pyspark.show()

+-----+---+
| Name|Age|
+-----+---+
|Sahil| 24|
|Singh| 22|
|  Eka| 19|
+-----+---+

In [10]:
type(df2_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df2_pyspark.head(2)

[Row(Name='Sahil', Age='24'), Row(Name='Singh', Age='22')]

In [12]:
df2_pyspark.head()

Row(Name='Sahil', Age='24')

In [14]:
df2_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)