### Chapter 4: Filter Operations
when working with string condition || when working with column
1. and || &                                 &
2. or  || |
3. not || ~

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [3]:
df_filter = spark.read.csv('test3.csv',header=True,inferSchema=True)

In [4]:
df_filter.show()

+-------+----+----+-----+
|   Name| Age| Exp|Power|
+-------+----+----+-----+
|  Sahil|  24|   3|  100|
|  Singh|  22|   1|   80|
|    Eka|  19|   0|  170|
| Naruto|  32|  11|  230|
| Sasuke|  32|  11|  225|
|kakashi|  43|  22|  190|
|Jiraiya|null|null|  200|
|   null|null|null| null|
|   null|  34|  10|   90|
|   null|  36|null| null|
| Sakura|  32|null| null|
+-------+----+----+-----+

Let's work with filter

In [8]:
df_filter.filter('Power>=200').show()
'''
 Filtering and getting only the records whose Power>=200
'''

+-------+----+----+-----+
|   Name| Age| Exp|Power|
+-------+----+----+-----+
| Naruto|  32|  11|  230|
| Sasuke|  32|  11|  225|
|Jiraiya|null|null|  200|
+-------+----+----+-----+

'\n Filtering and getting only the records whose Power>=200\n'

In [9]:
### filtering and printing specific columns
df1 = df_filter.filter('Power>=200').select(['Name','Power'])

In [11]:
df1.show()
'''
 Selecting only the Name and Power column, Age and Exp will not pe printed.
'''

+-------+-----+
|   Name|Power|
+-------+-----+
| Naruto|  230|
| Sasuke|  225|
|Jiraiya|  200|
+-------+-----+

'\n Selecting only the Name and Power column, Age and Exp will not pe printed.\n'

Operators:
and (&)
or (|)
not (~)
### Note: conditions should be always a string or column.

In [40]:
### and
df2 = df_filter.filter('Exp>3 and Exp<22')
df2.show()
'''
 ** Note how the condition is written **
 All records whose Exp is greater than 3 but smaller than 22.
'''

+------+---+---+-----+
|  Name|Age|Exp|Power|
+------+---+---+-----+
|Naruto| 32| 11|  230|
|Sasuke| 32| 11|  225|
|  null| 34| 10|   90|
+------+---+---+-----+

'\n ** Note how the condition is written **\n All records whose Exp is greater than 3 but smaller than 22.\n'

In [41]:
### &
# One other way to work with columns
df2= df_filter.filter((df_filter['Exp']>3) & (df_filter['Power']>90))
df2.show()

'''
 Note: Here we have used '&' and not 'and', both works the same way! 
 All records whose Exp is greater than 3 and Power is greater than 90.
'''

+-------+---+---+-----+
|   Name|Age|Exp|Power|
+-------+---+---+-----+
| Naruto| 32| 11|  230|
| Sasuke| 32| 11|  225|
|kakashi| 43| 22|  190|
+-------+---+---+-----+

"\n Note: Here we have used '&' and not 'and', both works the same way! \n All records whose Exp is greater than 3 and Power is greater than 90.\n"

In [42]:
### 'or' and '|'

df3 = df_filter.filter("Name='Naruto' or Name='kakashi'")
df3.show()
'''
 Notice how the string is given in the condition
'''

+-------+---+---+-----+
|   Name|Age|Exp|Power|
+-------+---+---+-----+
| Naruto| 32| 11|  230|
|kakashi| 43| 22|  190|
+-------+---+---+-----+

'\n Notice how the string is given in the condition\n'

In [51]:
df3 = df_filter.filter("Name!='kakashi' and Name!='Naruto'").select(['Name','Exp','Power'])
df3.show()

+-------+----+-----+
|   Name| Exp|Power|
+-------+----+-----+
|  Sahil|   3|  100|
|  Singh|   1|   80|
|    Eka|   0|  170|
| Sasuke|  11|  225|
|Jiraiya|null|  200|
| Sakura|null| null|
+-------+----+-----+

In [44]:
### the not ! operator

df4 = df_filter.filter((df_filter['Name']!='Naruto') & (df_filter['Name']!='Sasuke'))
df4.show()

+-------+----+----+-----+
|   Name| Age| Exp|Power|
+-------+----+----+-----+
|  Sahil|  24|   3|  100|
|  Singh|  22|   1|   80|
|    Eka|  19|   0|  170|
|kakashi|  43|  22|  190|
|Jiraiya|null|null|  200|
| Sakura|  32|null| null|
+-------+----+----+-----+

### is not

In [47]:
df_filter.filter('Age is not null and Name is not null').show()

+-------+---+----+-----+
|   Name|Age| Exp|Power|
+-------+---+----+-----+
|  Sahil| 24|   3|  100|
|  Singh| 22|   1|   80|
|    Eka| 19|   0|  170|
| Naruto| 32|  11|  230|
| Sasuke| 32|  11|  225|
|kakashi| 43|  22|  190|
| Sakura| 32|null| null|
+-------+---+----+-----+

### BETWEEN

In [54]:
df_filter.filter('Age BETWEEN 32 and 43').show()

+-------+---+----+-----+
|   Name|Age| Exp|Power|
+-------+---+----+-----+
| Naruto| 32|  11|  230|
| Sasuke| 32|  11|  225|
|kakashi| 43|  22|  190|
|   null| 34|  10|   90|
|   null| 36|null| null|
| Sakura| 32|null| null|
+-------+---+----+-----+