This file is just to practise what I have learned so far...

In [1]:
from pyspark.sql import SparkSession
sparkSes1 = SparkSession.builder.appName('Sess1').getOrCreate()

In [3]:
df1=sparkSes1.read.csv('test2.csv',header=True,inferSchema=True)

In [11]:
df1_nameExp = df1.select(['Name','Exp'])

In [12]:
df1_nameExp.show()

+-----+---+
| Name|Exp|
+-----+---+
|Sahil|  3|
|Singh|  1|
|  Eka|  0|
+-----+---+

In [13]:
df1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Exp: integer (nullable = true)

In [15]:
df1.dtypes

[('Name', 'string'), ('Age', 'int'), ('Exp', 'int')]

In [17]:
df1_summary=df1.describe()

In [18]:
df1_summary.show()

+-------+-----+------------------+------------------+
|summary| Name|               Age|               Exp|
+-------+-----+------------------+------------------+
|  count|    3|                 3|                 3|
|   mean| null|21.666666666666668|1.3333333333333333|
| stddev| null|2.5166114784235836|1.5275252316519468|
|    min|  Eka|                19|                 0|
|    max|Singh|                24|                 3|
+-------+-----+------------------+------------------+

In [19]:
df1_4age=df1.withColumn('Age+4',df1['Age']+4)

In [20]:
df1_4age.show()

+-----+---+---+-----+
| Name|Age|Exp|Age+4|
+-----+---+---+-----+
|Sahil| 24|  3|   28|
|Singh| 22|  1|   26|
|  Eka| 19|  0|   23|
+-----+---+---+-----+

In [21]:
df1.show()

+-----+---+---+
| Name|Age|Exp|
+-----+---+---+
|Sahil| 24|  3|
|Singh| 22|  1|
|  Eka| 19|  0|
+-----+---+---+

In [24]:
df1_4age=df1_4age.drop('Age+4')

In [25]:
df1_4age.show()

+-----+---+---+
| Name|Age|Exp|
+-----+---+---+
|Sahil| 24|  3|
|Singh| 22|  1|
|  Eka| 19|  0|
+-----+---+---+